<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782276787914-k6sfdv3iik1746m59vo604ben3hj7vva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782276787914-k6sfdv3iik1746m59vo604ben3hj7vva</string>
	<key>API_KEY</key>
	<string>AIzaSyDsA4SeIzW6UPbA9IHm05AC6Ah7z8YDWrA</string>
	<key>GCM_SENDER_ID</key>
	<string>782276787914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comharinfosystems.lovapp</string>
	<key>PROJECT_ID</key>
	<string>messaging-dev-49fa2</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-dev-49fa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782276787914:ios:b3ac7565b3f210e9da7e33</string>
	<key>DATABASE_URL</key>
	<string>https://messaging-dev-49fa2.firebaseio.com</string>
</dict>
</plist>